<div class="cartas-container container mt-5">
  <img class="text-center mb-4" style="width: 50%;" src="https://res.cloudinary.com/dbw3utkij/image/upload/v1741705574/xnlvn3wwomjxzh4bziwj.png" alt="">

  <div class="search-options row justify-content-center mb-4">
    <div class="col-md-5 mb-3">
      <input
        type="text"
        [(ngModel)]="nombreCarta"
        (ngModelChange)="buscarCartas()"
        class="form-control"
        placeholder="Buscar por nombre"
      />
    </div>

    <div class="col-md-5 mb-3">
      <input
        type="text"
        [(ngModel)]="expansion"
        (ngModelChange)="buscarCartas()"
        class="form-control"
        placeholder="Buscar por expansión"
      />
    </div>
  </div>

  <div *ngIf="error" class="alert alert-danger">
    <p>{{ error }}</p>
  </div>

  <!-- Paginación -->
  <div class="d-flex justify-content-center mt-4">
    <button (click)="previousPage()" [disabled]="currentPage === 1" class="btn btn-dark mx-2">
      <i class="bi bi-arrow-left"></i>
    </button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages()" class="btn btn-dark mx-2">
      <i class="bi bi-arrow-right"></i>
    </button>
  </div><br>

  <!-- Cartas con paginación -->
  <div class="cartas-list row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3" *ngIf="getPaginatedCartas()?.length; else noCartas">
    <div *ngFor="let carta of getPaginatedCartas()" class="col">
      <div class="card h-100">
        <img
          [src]="carta.images?.small"
          class="card-img-top rounded"
          alt="{{ carta.name }}"
        />
        <div class="card-body d-flex flex-column bg-dark text-white rounded-bottom">
          <h5 class="card-title">{{ carta.name }}</h5>
          <p class="card-text">Expansión: {{ carta.set?.name }}</p>
          <div class="mt-auto">
            <p class="card-text">Fecha salida: {{ carta.set?.releaseDate | dateFormat }}</p>
            <p class="card-text">Precio medio: {{ carta.cardmarket?.prices?.trendPrice }}€</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #noCartas>
    <p class="text-center">No hay cartas para mostrar.</p>
  </ng-template>
</div>

