.cartas-container {
    padding: 20px;
    text-align: center;
  }
  
  .search-options {
    margin-bottom: 20px;
  }
  
  .search-options div {
    margin: 10px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
  .cartas-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .carta {
    margin: 10px;
    text-align: center;
  }
  
  .carta img {
    width: 100px;
    height: 140px;
  }

  .card img{
    transition: all 0.5s ease;
  }
  .card:hover img {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  