h1 {
    color: #ffcc00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
p.lead {
    font-size: 1.2rem;
}
  
  .btn-primary {
    background-color: #ffcc00;
    border-color: #ffcc00;
    color: #000;
  }
  
  .btn-primary:hover {
    background-color: #ff9900;
    border-color: #ff9900;
    color: #fff;
  }

.foto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.foto img {
    animation: flotante 2.7s ease-in-out infinite;
}
  
  @keyframes flotante {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  

.titulo{
    max-width: 1000px;
}

@media screen and (max-width: 768px) {
    
    .titulo{
        max-width: 450px;
        width: 100%;
    }
}
  