<div class="container mt-5 text-center">
    <img class="titulo" src="https://res.cloudinary.com/dbw3utkij/image/upload/v1741683599/dc00rzdlqrjeyuomhu1c.png" alt="">
  
    <div class="row justify-content-center mt-4">
      <div class="col-md-4">
        <a routerLink="/cartas" class="btn btn-primary btn-lg w-100">
          <i class="bi bi-search"></i> Explorar Cartas
        </a>
      </div>
    </div>
  
    <div class="row mt-5 foto">
      <div class="col-md-5 d-flex justify-content-center">
        <img src="https://res.cloudinary.com/dbw3utkij/image/upload/v1741683239/xn9foqjitvdkuemuitih.webp" 
             class="img-fluid rounded shadow-lg" 
             alt="Cartas Pokémon">
      </div>
    </div>
  </div>

  